.hero-img,
.main-btn,
.learning-btn {
  transition: all 0.4s ease-in-out;
}
.hero-img:hover {
  cursor: pointer;
  transform: scale(1.3) rotateY(180deg);
}

/* Button animation */
.main-btn {
  transform-origin: top left;
}
.main-btn:hover {
  transform: skew(0, 10deg);
}

/* learning btn animations */
.learning-btn:hover {
  background-color: #ffffff;
  color: #55c2d8;
}
